mixin button(text)
    a.button= text

mixin inputText(name, placeholderText, isRequired, isEmail)
    - var required = isRequired ? 'required' : '' ;
    - var type = isEmail ? 'email' : 'text' ;
    .oops-group
        .oops-group__line
        label.oops-group__label= placeholderText
        input(type=type, name=name, class="oops-group__text", required)

mixin textAreaText(name, placeholderText, isRequired)
    - var required = isRequired ? 'required' : '' ;
    .oops-group
        .oops-group__line
        label.oops-group__label= placeholderText
        textarea(name=name, class="oops-group__textarea", rows="4", required)

mixin message()
    .contact-form__message

mixin contactForm()
    .contact-form
        .container.container_small
            +title("Let's get start", 'h2')
            .contact-form__row
                .contact-form__col
                    p.contact-form__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto autem commodi corporis delectus eligendi enim est fugiat hic illo incidunt mollitia necessitatibus non perspiciatis, quaerat qui sint suscipit voluptas!
                    p.contact-form__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto autem commodi corporis delectus eligendi enim est fugiat hic illo incidunt mollitia necessitatibus non perspiciatis, quaerat qui sint suscipit voluptas!
                .contact-form__col
                    form.contact-form__form(action='/', method='post' )
                        i.fas.contact-form__success-icon
                        small.contact-form__title
                        +message()
                        +inputText('user-name','Your name', true)
                        +inputText('user-email','Your email', true, true)
                        +textAreaText('user-message','Message', true)
                        textarea(name='message', class="oops-group__textarea-new", rows="4")
                        +button('Send')