mixin partners()
    .partners
        +title('Partners', 'h2')
        .swiper-container.partners__container
            .swiper-wrapper.partners__wrapper
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-1.png"), alt="alfa")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-2.png"), alt="mtb")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-3.png"), alt="status")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-4.png"), alt="bate")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-5.png"), alt="bsb")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-1.png"), alt="alfa")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-2.png"), alt="mtb")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-3.png"), alt="status")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-4.png"), alt="bate")
                .swiper-slide.partners__slide
                    img.partners__logo(src=require("./../images/partners/logo-5.png"), alt="bsb")